/* -----welcome page----- */

.welcome-page-wrapper {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url("../images/farm.png");
    background-position: center center;
    background-size: 70%;
    background-repeat: no-repeat;
}

.title{
    font-size: 100px;
    font-family: 'Luckiest Guy', cursive;
}

.difficulty-selecter-wrapper{
    display: grid;
    height: 500px;
    width: 400px;

}

.box-with-info {
    display: grid;
    grid-template-rows: 1fr, 3fr, 1fr;
}

.difficulty{
    display: flex;
    width: 100%;
    height: 150px;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.control{
    display: flex;
    width: 80%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.btn-difficulty{ 
    width: 100%;
    height: 50%;
    background-image: url("images/button.png");
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
    background-color: Transparent;
    font-family: 'Luckiest Guy', cursive;
    font-size: 1.5rem;
    text-decoration: none;
}

.btn-difficulty:hover{
    filter: brightness(1.25);
}

.btn-help{
    width: 100px;
    height: 100px;
    background-image: url("images/help.png");
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
    background-color: Transparent;
    align-self: center;
    font-family: 'Luckiest Guy', cursive;
    font-size: 3rem;
}

.btn-help:hover{
    filter: brightness(1.25);
}

.tooltiptext {
    visibility: hidden;
    display: flex;
    width: 300px;
    height: 300px;
    align-items:center;
    justify-content: center;
    background-image: url("images/board.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    color: #000;
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
    font-size: 1.2rem;
    padding: 5px 0;
    border-radius: 6px;
    margin-left: 600px;    
    position: absolute;
    z-index: 1;
    pointer-events:none;
}

.tooltiptext .tip-wrapper{
    width: 80%;
    cursor: default;
    pointer-events:none;
}
  
.control:hover .tooltiptext {
    visibility: visible;
}

/* -----Panel----- */
.panel-wrapper {
    position: absolute;
    z-index: 99;
    width: 100%;
    height: 100%;
    visibility: hidden;
}

.panel-wrapper .over-layer{
    width: 100%;
    height: 100%;
    background: black;
    opacity: 50%;
}

.panel-wrapper .panel{
    width: 50%;
    position: fixed;
    top: 25%;
    bottom: 25%;
    right: 25%;
    background: #fff;
    box-shadow: -3px 0 3px rgba(0, 0, 0, 0.04);
    z-index: 99;
    opacity: 90%;
}
.panel .head{
    padding-right: 1rem;
    text-align: right;
    
}

.close{
    color: black;
    font-size: 2rem;
}

.panel-visible{
    visibility: visible;
}

.panel-invisible{
    visibility: hidden;
}

.text-wrapper{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}


/* -----navbar----- */
.nav-bar{
    z-index: 99;
    padding: 0;
    position: sticky;
    top:0;
    height:50px;
    width: 100%;
    background: black;
    display: flex;
    flex-direction: row;
}

.nav-bar-title{
    width:60%;
}

.nav-bar-control{
    display: flex;
    width: 40%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.nav-bar-btn{
    display:flex;
    height: 100%;
    color:white;
    justify-content: center;
    align-items: center;
}

.nav-bar-btn{
    height: 80%;
    font-size: 1.5rem;
    border-radius: 0.5rem;
}

/* -----Board----- */


.board{
    background-color: Transparent;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(10, 60px);
    grid-template-rows: repeat(10, 60px);
}

/* -----Square----- */

.square{ 
    width: 60px;
    height: 60px;
    cursor: pointer
}

.square-human{ 
    width: 60px;
    height: 60px;
    cursor: not-allowed;
}

.square:hover{
    border: 6px solid orange;
    border-radius: 0.55px;
}

.black{ 
    background-image: url("images/grass-empty.png");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    pointer-events:none;
    cursor: not-allowed;
}

.white{ 
    background-image: url("images/grass.png");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.red{ 
    background-color:red;
    pointer-events:none;
}

.green{ 
    background-image: url("images/pig.png");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    pointer-events:none;
    cursor: not-allowed;
}

.blue{ 
    background-image: url("images/cow.png");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    pointer-events:none;
    cursor: not-allowed;
}

.purple{ 
    background-image: url("images/sheep.png");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    pointer-events:none;
    cursor: not-allowed;
}

.yellow{ 
    background-image: url("images/chicken.png");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    pointer-events:none;
    cursor: not-allowed;
}

.gray {
    background-image: url("images/grass-empty.png");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    cursor: not-allowed;
}

.caught { 
    border: 6px solid red;

}

.disabled-action {
    pointer-events:none;
}

/* -----PalyGround----- */
.playground{
    height: 100vh;
    width: 100%;
    display: flex;
    background-image: url("images/background.png");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.playground-double-wrapper{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.disabled{
    visibility: hidden;
}

.active{
    visibility: visible;
}

.playground-mid-wrapper{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.playground-double-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-evenly
}

.board-background{
    position: relative;
    opacity: 0.3;
    height: 100%;
    width: 100%;
    background-color: rgb(122, 93, 11);
}

.board-wrapper{
    
    height: 700px;
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ----- drag test ----- */


.square-empty{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border: 2px solid gray;
}

.boat5{
    z-index:0;
    width: 100%;
    height: 100%;

}

.boat4{
    z-index:99;
    width: 100%;
    height: 400%;
    border: 2px solid black;
}

/* ----- win-wrapper ----- */
.win-wrapper{
    z-index: 89;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: Transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.win-wrapper-background{
    z-index: 89;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: white;
    opacity: 0.8;
}

.win-text-wrapper{
    z-index: 89;
    height: 500px;
    width: 500px;
    background-image: url("images/board.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
    font-size: 2rem;
}

.win-text-wrapper #con{
    color: red;
    font-size: 2.8rem;
}

.control-win{
    display: flex;
    width: 15%;
    height: 15%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-image: url("images/home.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.control-win:hover{
    filter: brightness(1.15);
}

.tooltiptext {
    visibility: hidden;
    display: flex;
    width: 200px;
    height: 200px;
    align-items:center;
    justify-content: center;
    background-image: url("images/board.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    color: #000;
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
    font-size: 1.2rem;
    padding: 5px 0;
    border-radius: 6px;
    margin-left: 500px;    
    position: absolute;
    z-index: 1;
    pointer-events:none;
}

.tooltiptext .tip-wrapper{
    width: 80%;
    cursor: default;
    pointer-events:none;
}

  
.control-win:hover .tooltiptext {
    visibility: visible;
}